/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #b90101; /**#3880ff;**/
  --ion-color-primary-contrast: #fff; /** #428cff; **/
}

.ion-palette-dark {
  --ion-color-primary: #b90101; /** #428cff; **/
  --ion-color-primary-contrast: #fff; /** #428cff; **/
}
