/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #b90101;/**#3880ff;**/
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #b90101;/** #428cff; **/
  }
}

body.dark {
  --ion-color-primary: #b90101;/** #428cff; **/
}